flows.json
[
    {
        "id": "cb95299c.2817c8",
        "type": "tab",
        "label": "Segmentation",
        "disabled": false,
        "info": ""
    },
    {
        "id": "9a22e67a.378818",
        "type": "tab",
        "label": "MQTT Receive",
        "disabled": false,
        "info": ""
    },
    {
        "id": "8d16beb8.9b3fb",
        "type": "ui_tab",
        "name": "Segmentation",
        "icon": "fa-crop",
        "order": 5,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "cc8bc4eb.651868",
        "type": "ui_base",
        "theme": {
            "name": "theme-dark",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#5900ce",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#097479",
                    "value": "#097479",
                    "edited": true
                },
                "page-titlebar-backgroundColor": {
                    "value": "#097479",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#111111",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#0eb8c0",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#555555",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#eeeeee",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#097479",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#333333",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "PlanktoScope",
            "hideToolbar": "true",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "Y-MM-DD",
            "sizes": {
                "sx": 55,
                "sy": 55,
                "gx": 4,
                "gy": 4,
                "cx": 4,
                "cy": 4,
                "px": 4,
                "py": 4
            }
        }
    },
    {
        "id": "8dc3722c.06efa8",
        "type": "mqtt-broker",
        "name": "",
        "broker": "host.docker.internal",
        "port": "1883",
        "clientid": "Client_node",
        "autoConnect": true,
        "usetls": false,
        "compatmode": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "abeb6dad.635a2",
        "type": "ui_group",
        "name": "Control",
        "tab": "8d16beb8.9b3fb",
        "order": 1,
        "disp": true,
        "width": 10,
        "collapse": false
    },
    {
        "id": "46be9c86.dea684",
        "type": "ui_group",
        "name": "Status",
        "tab": "8d16beb8.9b3fb",
        "order": 2,
        "disp": true,
        "width": 10,
        "collapse": false
    },
    {
        "id": "97148e8d8e298f1a",
        "type": "ui_spacer",
        "z": "cb95299c.2817c8",
        "name": "spacer",
        "group": "abeb6dad.635a2",
        "order": 7,
        "width": 10,
        "height": 1
    },
    {
        "id": "3b2eccc574e6a9ae",
        "type": "ui_spacer",
        "z": "cb95299c.2817c8",
        "name": "spacer",
        "group": "abeb6dad.635a2",
        "order": 11,
        "width": 1,
        "height": 1
    },
    {
        "id": "bbd6431d97c86f97",
        "type": "ui_spacer",
        "z": "cb95299c.2817c8",
        "name": "spacer",
        "group": "46be9c86.dea684",
        "order": 4,
        "width": 3,
        "height": 1
    },
    {
        "id": "5f98f5f140f0ecde",
        "type": "ui_spacer",
        "z": "cb95299c.2817c8",
        "name": "spacer",
        "group": "46be9c86.dea684",
        "order": 6,
        "width": 3,
        "height": 1
    },
    {
        "id": "8ec68b82.17e3d8",
        "type": "ui_button",
        "z": "cb95299c.2817c8",
        "name": "Start segmentation",
        "group": "abeb6dad.635a2",
        "order": 10,
        "width": 5,
        "height": 1,
        "passthru": false,
        "label": "Start segmentation",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "{\"action\":\"segment\"}",
        "payloadType": "json",
        "topic": "segmenter/segment",
        "x": 370,
        "y": 460,
        "wires": [
            [
                "33c28dc1.238002"
            ]
        ]
    },
    {
        "id": "27be7971.b3fbce",
        "type": "ui_button",
        "z": "cb95299c.2817c8",
        "d": true,
        "name": "Stop segmentation",
        "group": "abeb6dad.635a2",
        "order": 12,
        "width": 4,
        "height": 1,
        "passthru": true,
        "label": "Stop segmentation",
        "tooltip": "",
        "color": "",
        "bgcolor": "#AD1625",
        "icon": "",
        "payload": "{\"action\":\"stop\"}",
        "payloadType": "json",
        "topic": "segmenter/segment",
        "x": 370,
        "y": 520,
        "wires": [
            [
                "16f3cef4.0acac9"
            ]
        ]
    },
    {
        "id": "16f3cef4.0acac9",
        "type": "mqtt out",
        "z": "cb95299c.2817c8",
        "name": "",
        "topic": "",
        "qos": "",
        "retain": "",
        "broker": "8dc3722c.06efa8",
        "x": 850,
        "y": 520,
        "wires": []
    },
    {
        "id": "aa38dbbc.cf0a9",
        "type": "switch",
        "z": "cb95299c.2817c8",
        "name": "Segmenter",
        "property": "topic",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "status/segmenter",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "status/segmenter/name",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "status/segmenter/object_id",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "status/segmenter/metric",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 4,
        "x": 490,
        "y": 740,
        "wires": [
            [
                "b9a23b91.93638",
                "6919465f.332e5"
            ],
            [
                "49af3d24.1799e4"
            ],
            [],
            []
        ]
    },
    {
        "id": "a4f0f0d1.3aca88",
        "type": "ui_toast",
        "z": "cb95299c.2817c8",
        "position": "top right",
        "displayTime": "5",
        "highlight": "",
        "sendall": true,
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "topic": "",
        "name": "",
        "x": 1350,
        "y": 680,
        "wires": []
    },
    {
        "id": "49af3d24.1799e4",
        "type": "debug",
        "z": "cb95299c.2817c8",
        "name": "segmentation name",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 840,
        "y": 760,
        "wires": []
    },
    {
        "id": "7088a5be.0c79a4",
        "type": "template",
        "z": "cb95299c.2817c8",
        "name": "Create sentence",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "The {{topic}} is {{payload.status}}",
        "output": "str",
        "x": 1100,
        "y": 680,
        "wires": [
            [
                "a4f0f0d1.3aca88"
            ]
        ]
    },
    {
        "id": "b9a23b91.93638",
        "type": "change",
        "z": "cb95299c.2817c8",
        "name": "Remove high-level topic",
        "rules": [
            {
                "t": "change",
                "p": "topic",
                "pt": "msg",
                "from": "status/",
                "fromt": "str",
                "to": "",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 850,
        "y": 680,
        "wires": [
            [
                "7088a5be.0c79a4"
            ]
        ]
    },
    {
        "id": "6919465f.332e5",
        "type": "ui_text",
        "z": "cb95299c.2817c8",
        "group": "46be9c86.dea684",
        "order": 1,
        "width": 10,
        "height": 1,
        "name": "segmenter",
        "label": "Segmenter status:",
        "format": "{{msg.payload.status}}",
        "layout": "row-spread",
        "x": 810,
        "y": 720,
        "wires": []
    },
    {
        "id": "25867454.a8e334",
        "type": "link in",
        "z": "cb95299c.2817c8",
        "name": "Segmenter module status",
        "links": [
            "dcf5bd45.16a8d"
        ],
        "x": 295,
        "y": 740,
        "wires": [
            [
                "aa38dbbc.cf0a9"
            ]
        ]
    },
    {
        "id": "c8749cbb.55254",
        "type": "function",
        "z": "cb95299c.2817c8",
        "name": "set global",
        "func": "global.set(msg.topic, msg.payload);",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 960,
        "y": 380,
        "wires": [
            []
        ]
    },
    {
        "id": "33c28dc1.238002",
        "type": "function",
        "z": "cb95299c.2817c8",
        "name": "prepare segmentation",
        "func": "global.set('obj_counter', 0);\n\nvar segmentation_list = flow.get('segmentation_list')\nif (segmentation_list !== undefined && segmentation_list !== \"\") {\n    msg.payload['path'] = segmentation_list\n}\n\n\nvar force = flow.get('force')\nif (force !== undefined && force !== \"\") {\n    msg.payload['settings'] = {\"force\":Boolean(force)}\n}\n\n\nvar recursive = flow.get('recursive')\nif (recursive !== undefined && recursive !== \"\") {\n    if (\"settings\" in msg.payload){\n        msg.payload.settings[\"recursive\"] = Boolean(recursive)\n    }\n    else{\n        msg.payload['settings'] = {\"recursive\": Boolean(recursive)}\n    }\n}\n\nvar ecotaxa = flow.get('ecotaxa')\nif (ecotaxa !== undefined && ecotaxa !== \"\") {\n    if (\"settings\" in msg.payload){\n        msg.payload.settings[\"ecotaxa\"] = Boolean(ecotaxa)\n    }\n    else{\n        msg.payload['settings'] = {\"ecotaxa\": Boolean(ecotaxa)}\n    }\n}\n\nvar keep = flow.get('keep')\nif (keep !== undefined && keep !== \"\") {\n    if (\"settings\" in msg.payload){\n        msg.payload.settings[\"keep\"] = Boolean(keep)\n    }\n    else{\n        msg.payload['settings'] = {\"keep\": Boolean(keep)}\n    }\n}\n\nvar process_id = global.get('process_id')\nif (process_id !== undefined && process_id !== \"\") {\n    if (\"settings\" in msg.payload){\n        msg.payload.settings[\"process_id\"] = process_id\n    }\n    else{\n        msg.payload['settings'] = {\"process_id\": process_id}\n    }\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 620,
        "y": 460,
        "wires": [
            [
                "16f3cef4.0acac9"
            ]
        ]
    },
    {
        "id": "3ea12061.ce62c",
        "type": "ui_list",
        "z": "cb95299c.2817c8",
        "group": "abeb6dad.635a2",
        "name": "",
        "order": 9,
        "width": 10,
        "height": 11,
        "lineType": "one",
        "actionType": "check",
        "allowHTML": false,
        "outputs": 1,
        "topic": "",
        "x": 770,
        "y": 140,
        "wires": [
            [
                "cb3b87b5.63c4"
            ]
        ]
    },
    {
        "id": "8bd8fb2c.53fa4",
        "type": "dir2files",
        "z": "cb95299c.2817c8",
        "name": "",
        "dirname": "/home/pi/data/img/",
        "pathRegex": "",
        "isRecursive": true,
        "findDir": true,
        "isArray": true,
        "x": 460,
        "y": 140,
        "wires": [
            [
                "ba2947.c854deb8"
            ]
        ]
    },
    {
        "id": "127d4ee.f8ad1b1",
        "type": "ui_button",
        "z": "cb95299c.2817c8",
        "name": "Refresh",
        "group": "abeb6dad.635a2",
        "order": 8,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Update acquisition's folder list",
        "tooltip": "Refresh the list of previous acquisitions",
        "color": "",
        "bgcolor": "",
        "icon": "mi-find_replace",
        "payload": "",
        "payloadType": "date",
        "topic": "update",
        "x": 260,
        "y": 140,
        "wires": [
            [
                "8bd8fb2c.53fa4",
                "56f845f5.e7c054"
            ]
        ]
    },
    {
        "id": "946ce9ee.092cf",
        "type": "inject",
        "z": "cb95299c.2817c8",
        "name": "Init",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 270,
        "y": 100,
        "wires": [
            [
                "8bd8fb2c.53fa4",
                "56f845f5.e7c054"
            ]
        ]
    },
    {
        "id": "cb3b87b5.63c4",
        "type": "function",
        "z": "cb95299c.2817c8",
        "name": "update segmentation_list",
        "func": "var segmentation_list = flow.get('segmentation_list');\n\nif (segmentation_list === undefined || segmentation_list === \"\") {\n    segmentation_list = []\n    console.log(\"error\")\n}\n\npath = \"/home/pi/data/img/\" + msg.payload.title\n\nif (msg.payload.isChecked){\n    if (segmentation_list.includes(path) === false){\n        segmentation_list.push(path)\n    }\n    // Element already in list, don't push it more than once\n    //segmentation_list.push(msg.payload[\"title\"])\n}\nelse {\n    var pos = segmentation_list.indexOf(path)\n    segmentation_list.splice(pos, 1)\n}\n\nflow.set('segmentation_list', segmentation_list)",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 950,
        "y": 140,
        "wires": [
            []
        ]
    },
    {
        "id": "56f845f5.e7c054",
        "type": "change",
        "z": "cb95299c.2817c8",
        "name": "Reset segmentation_list",
        "rules": [
            {
                "t": "set",
                "p": "segmentation_list",
                "pt": "flow",
                "to": "[]",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 510,
        "y": 100,
        "wires": [
            []
        ]
    },
    {
        "id": "7fc72364.8f038c",
        "type": "ui_template",
        "z": "cb95299c.2817c8",
        "group": "abeb6dad.635a2",
        "name": "Update message",
        "order": 1,
        "width": 10,
        "height": 3,
        "format": "<div><left>You can choose here in which folder(s) you want the segmentation script to run. A few details though:\n<br>The segmentation is run recursively in all folders. So if you select a top level folder, the segmentation will be run in all subfolders.\n<br>Also, you will be able to chose wether for force the segmentation for folders in which it has run already.</left></div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "x": 270,
        "y": 40,
        "wires": [
            []
        ]
    },
    {
        "id": "ba2947.c854deb8",
        "type": "function",
        "z": "cb95299c.2817c8",
        "name": "remove common",
        "func": "function remove_path(item, index, array) {\n  array[index] = item.replace(\"/home/pi/data/img/\", \"\")\n} \n\nmsg.payload.forEach(remove_path)\n\nreturn msg",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 620,
        "y": 140,
        "wires": [
            [
                "3ea12061.ce62c"
            ]
        ]
    },
    {
        "id": "21af0db1.c2c182",
        "type": "ui_multistate_switch",
        "z": "cb95299c.2817c8",
        "name": "recursive toggle",
        "group": "abeb6dad.635a2",
        "order": 4,
        "width": 5,
        "height": 1,
        "label": "Recursive folder",
        "stateField": "payload",
        "enableField": "enable",
        "rounded": true,
        "useThemeColors": true,
        "hideSelectedLabel": false,
        "options": [
            {
                "label": "No",
                "value": "0",
                "valueType": "num",
                "color": "#009933"
            },
            {
                "label": "Yes",
                "value": "1",
                "valueType": "num",
                "color": "#999999"
            }
        ],
        "x": 480,
        "y": 220,
        "wires": [
            [
                "880b192a.88e2d"
            ]
        ]
    },
    {
        "id": "dffb9881.feef8",
        "type": "ui_multistate_switch",
        "z": "cb95299c.2817c8",
        "name": "force toggle",
        "group": "abeb6dad.635a2",
        "order": 3,
        "width": 5,
        "height": 1,
        "label": "Force rework",
        "stateField": "payload",
        "enableField": "enable",
        "rounded": true,
        "useThemeColors": true,
        "hideSelectedLabel": false,
        "options": [
            {
                "label": "No",
                "value": "0",
                "valueType": "num",
                "color": "#009933"
            },
            {
                "label": "Yes",
                "value": "1",
                "valueType": "num",
                "color": "#999999"
            }
        ],
        "x": 470,
        "y": 300,
        "wires": [
            [
                "a4f68fa6.5d77f8"
            ]
        ]
    },
    {
        "id": "880b192a.88e2d",
        "type": "change",
        "z": "cb95299c.2817c8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "recursive",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 690,
        "y": 240,
        "wires": [
            []
        ]
    },
    {
        "id": "a4f68fa6.5d77f8",
        "type": "change",
        "z": "cb95299c.2817c8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "force",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 670,
        "y": 280,
        "wires": [
            []
        ]
    },
    {
        "id": "1ef1b43b.b0f064",
        "type": "inject",
        "z": "cb95299c.2817c8",
        "name": "0",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "0",
        "payloadType": "num",
        "x": 270,
        "y": 280,
        "wires": [
            [
                "dffb9881.feef8",
                "a4f68fa6.5d77f8"
            ]
        ]
    },
    {
        "id": "43f97b93.b76294",
        "type": "inject",
        "z": "cb95299c.2817c8",
        "name": "1",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "1",
        "payloadType": "num",
        "x": 270,
        "y": 240,
        "wires": [
            [
                "21af0db1.c2c182",
                "880b192a.88e2d"
            ]
        ]
    },
    {
        "id": "9367534a.fb8568",
        "type": "ui_multistate_switch",
        "z": "cb95299c.2817c8",
        "name": "Ecotaxa archive",
        "group": "abeb6dad.635a2",
        "order": 6,
        "width": 5,
        "height": 1,
        "label": "Ecotaxa archive",
        "stateField": "payload",
        "enableField": "enable",
        "rounded": true,
        "useThemeColors": true,
        "hideSelectedLabel": false,
        "options": [
            {
                "label": "No",
                "value": "0",
                "valueType": "num",
                "color": "#009933"
            },
            {
                "label": "Yes",
                "value": "1",
                "valueType": "num",
                "color": "#999999"
            }
        ],
        "x": 1080,
        "y": 220,
        "wires": [
            [
                "25ac4f9a.5b05c8"
            ]
        ]
    },
    {
        "id": "25ac4f9a.5b05c8",
        "type": "change",
        "z": "cb95299c.2817c8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "ecotaxa",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1280,
        "y": 240,
        "wires": [
            []
        ]
    },
    {
        "id": "bef78886.8f0b98",
        "type": "inject",
        "z": "cb95299c.2817c8",
        "name": "1",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "1",
        "payloadType": "num",
        "x": 910,
        "y": 240,
        "wires": [
            [
                "9367534a.fb8568",
                "25ac4f9a.5b05c8"
            ]
        ]
    },
    {
        "id": "32465a4e.8fcac6",
        "type": "ui_multistate_switch",
        "z": "cb95299c.2817c8",
        "name": "Keep objects",
        "group": "abeb6dad.635a2",
        "order": 5,
        "width": 5,
        "height": 1,
        "label": "Keep objects",
        "stateField": "payload",
        "enableField": "enable",
        "rounded": true,
        "useThemeColors": true,
        "hideSelectedLabel": false,
        "options": [
            {
                "label": "No",
                "value": "0",
                "valueType": "num",
                "color": "#009933"
            },
            {
                "label": "Yes",
                "value": "1",
                "valueType": "num",
                "color": "#999999"
            }
        ],
        "x": 1070,
        "y": 300,
        "wires": [
            [
                "8dd6f57f.b77f98"
            ]
        ]
    },
    {
        "id": "8dd6f57f.b77f98",
        "type": "change",
        "z": "cb95299c.2817c8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "keep",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1270,
        "y": 280,
        "wires": [
            []
        ]
    },
    {
        "id": "8090df89.c029e",
        "type": "inject",
        "z": "cb95299c.2817c8",
        "name": "1",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "1",
        "payloadType": "num",
        "x": 910,
        "y": 280,
        "wires": [
            [
                "32465a4e.8fcac6",
                "8dd6f57f.b77f98"
            ]
        ]
    },
    {
        "id": "56971109c8be3b54",
        "type": "ui_text_input",
        "z": "cb95299c.2817c8",
        "name": "process_id",
        "label": "Process unique ID*",
        "tooltip": "",
        "group": "abeb6dad.635a2",
        "order": 2,
        "width": 10,
        "height": 1,
        "passthru": true,
        "mode": "text",
        "delay": 300,
        "topic": "process_id",
        "sendOnBlur": true,
        "className": "",
        "topicType": "str",
        "x": 790,
        "y": 380,
        "wires": [
            [
                "c8749cbb.55254"
            ]
        ]
    },
    {
        "id": "a002256cf74dfca3",
        "type": "inject",
        "z": "cb95299c.2817c8",
        "name": "1",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "1",
        "payloadType": "num",
        "x": 270,
        "y": 380,
        "wires": [
            [
                "56971109c8be3b54"
            ]
        ]
    },
    {
        "id": "1fdf77b5.24e4e",
        "type": "mqtt in",
        "z": "9a22e67a.378818",
        "name": "",
        "topic": "status/#",
        "qos": "0",
        "datatype": "json",
        "broker": "8dc3722c.06efa8",
        "inputs": 0,
        "x": 290,
        "y": 340,
        "wires": [
            [
                "fa73983d.318188"
            ]
        ]
    },
    {
        "id": "4a1e9e3e.27506",
        "type": "switch",
        "z": "9a22e67a.378818",
        "name": "Filter segmenter out",
        "property": "topic",
        "propertyType": "msg",
        "rules": [
            {
                "t": "else"
            },
            {
                "t": "cont",
                "v": "status/segmenter",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 620,
        "y": 340,
        "wires": [
            [
                "58f2e0f.4e8b12"
            ],
            [
                "dcf5bd45.16a8d"
            ]
        ]
    },
    {
        "id": "fa73983d.318188",
        "type": "json",
        "z": "9a22e67a.378818",
        "name": "",
        "property": "payload",
        "action": "obj",
        "pretty": true,
        "x": 430,
        "y": 340,
        "wires": [
            [
                "4a1e9e3e.27506"
            ]
        ]
    },
    {
        "id": "58f2e0f.4e8b12",
        "type": "link out",
        "z": "9a22e67a.378818",
        "name": "Fluidic module status",
        "links": [
            "bb628f8d.98f108"
        ],
        "x": 795,
        "y": 320,
        "wires": []
    },
    {
        "id": "dcf5bd45.16a8d",
        "type": "link out",
        "z": "9a22e67a.378818",
        "name": "Segmenter module status",
        "links": [
            "25867454.a8e334"
        ],
        "x": 795,
        "y": 360,
        "wires": []
    }
]